archive/workflows/n8n/workflows/supabase-vendors-ingest.json
{
  "name": "NXT Link - Supabase Vendors Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-extraction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Vendor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "company_name",
              "value": "={{ $json.company_name || $json.name || null }}",
              "type": "string"
            },
            {
              "name": "company_url",
              "value": "={{ $json.company_url || null }}",
              "type": "string"
            },
            {
              "name": "description",
              "value": "={{ $json.description || null }}",
              "type": "string"
            },
            {
              "name": "primary_category",
              "value": "={{ $json.primary_category || 'Other' }}",
              "type": "string"
            },
            {
              "name": "extraction_confidence",
              "value": "={{ Number($json.extraction_confidence || 0) }}",
              "type": "number"
            },
            {
              "name": "status",
              "value": "={{ ($json.status || 'approved').toString().trim().toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Normalize Vendor Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/vendors' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "3",
      "name": "Insert Vendor in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, inserted: $json } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "4",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1100,
        280
      ]
    }
  ],
  "connections": {
    "Vendor Webhook": {
      "main": [
        [
          {
            "node": "Normalize Vendor Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Vendor Payload": {
      "main": [
        [
          {
            "node": "Insert Vendor in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Vendor in Supabase": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
